@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 235, 235, 235;
  --background-start-rgb: 33, 37, 41;
  --background-end-rgb: 25, 25, 25;
  --accent-rgb: 255, 165, 0;
  --soft-accent-rgb: 250, 180, 88;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 235, 235, 235;
    --background-start-rgb: 33, 37, 41;
    --background-end-rgb: 25, 25, 25;
    --accent-rgb: 255, 165, 0;
    --soft-accent-rgb: 250, 180, 88;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

.hover-accent:hover {
  color: rgb(var(--soft-accent-rgb)) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
